.loginPage{
    display: flex;
    flex-direction: column;
}
.logCont{
    margin: 0 auto;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.logCont>form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.logCont>form input{
    padding: 10px 25px;
}
.signBtn{
    padding: 10px 20px;
    border: none;
    background-color: yellowgreen;
    border-radius: 5px;
}
.signBtn:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}
.createBtn{
    margin-left: 15px;
    border-radius: 5px;
    background-color: yellowgreen;
    border: none;
    padding: 10px 25px;
    text-decoration: none;
    color: black;
}
.createBtn:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 338px) {
    body {
      background-color: lightblue;
    }
    .logBtns{
        display: flex;
        flex-direction: column;
    }
    .createBtn{
        margin: 10px 0;
        text-align: center;
    }
  }
