.signupPage{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    border: 2px solid red;
}
.signCont{
    width: 50%;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px 30px;
}
.signCont>form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.signCont>form input{
    width: 50%;
    padding: 15px 25px;
}
.signBtn{
    padding: 10px 20px;
    border: none;
    background-color: yellowgreen;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
}
.createBtn{
    border-radius: 5px;
    background-color: yellowgreen;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}
.createBtn:hover{
    background-color: green;
    color: white;
}
.signBtn:hover{
    background-color: green;
    color: white;
}
.termsCondition{
    width: 56.75%;
}